In [3]:
#Import credit-card-default.csv file
import pandas as pd
my_file="credit-card-default.csv"
df=pd.read_csv(my_file, encoding='utf-8')
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,defaulted
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [4]:
#PREPROCESSING OPERATIONS
#Define input and target variables
input_variables=['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION',
       'MARRIAGE', 'AGE','PAY_0', 'PAY_2',
       'PAY_3', 'PAY_4','PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4','BILL_AMT5', 'BILL_AMT6',
       'PAY_AMT1', 'PAY_AMT2','PAY_AMT3', 'PAY_AMT4','PAY_AMT5',
        'PAY_AMT6']
target_variable=['defaulted']
X=df[input_variables]
y=df['defaulted']
X.shape

(30000, 24)

In [5]:
#Oversample the minority classes
import imblearn
from collections import Counter
from imblearn.over_sampling import RandomOverSampler 
print(Counter(y))
over = RandomOverSampler(sampling_strategy={1:23364})
#fit and apply the transform
X, y = over.fit_resample(X, y)
# summarize class distribution
print(Counter(y))
# over = RandomOverSampler(sampling_strategy={1:4784})
# #fit and apply the transform
# X, y = over.fit_resample(X, y)
# # summarize class distribution
# print(Counter(y))

Counter({0: 23364, 1: 6636})
Counter({1: 23364, 0: 23364})

In [6]:
#Split into test and train data.
from sklearn.model_selection import train_test_split
test_size=0.2
random_state=160721
X_train, X_test, y_train, y_test=train_test_split(X,y, test_size= test_size,random_state=random_state)
y_train.shape

(37382,)

In [7]:
#Apply minmax to train data
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
scale_var=['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION',
       'MARRIAGE', 'AGE','PAY_0', 'PAY_2',
       'PAY_3', 'PAY_4','PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4','BILL_AMT5', 'BILL_AMT6',
       'PAY_AMT1', 'PAY_AMT2','PAY_AMT3', 'PAY_AMT4','PAY_AMT5',
        'PAY_AMT6']
df[scale_var]=pd.DataFrame(scaler.fit_transform(X_train[scale_var]), columns=[scale_var])
print(df)

             ID  LIMIT_BAL  SEX  EDUCATION  MARRIAGE       AGE  PAY_0  \
0      0.095037   0.020202  1.0   0.333333  0.333333  0.310345    0.4
1      0.827094   0.020202  0.0   0.500000  0.333333  0.362069    0.2
2      0.623487   0.202020  1.0   0.166667  0.666667  0.103448    0.2
3      0.520084   0.050505  1.0   0.333333  0.666667  0.051724    0.3
4      0.306410   0.121212  1.0   0.333333  0.333333  0.344828    0.4
...         ...        ...  ...        ...       ...       ...    ...
29995  0.422881   0.171717  1.0   0.333333  0.666667  0.120690    0.2
29996  0.015167   0.030303  0.0   0.333333  0.666667  0.310345    0.2
29997  0.622287   0.040404  1.0   0.333333  0.666667  0.086207    0.2
29998  0.241741   0.141414  1.0   0.333333  0.666667  0.120690    0.1
29999  0.931764   0.333333  1.0   0.333333  0.333333  0.137931    0.2

          PAY_2  PAY_3  PAY_4  ...  BILL_AMT4  BILL_AMT5  BILL_AMT6  PAY_AMT1  \
0      0.444444    0.2    0.2  ...   0.170049   0.091906   0.145580  0.000000
1      0.222222    0.1    0.1  ...   0.160505   0.081035   0.135674  0.001980
2      0.222222    0.2    0.2  ...   0.327749   0.216301   0.260811  0.011881
3      0.111111    0.5    0.4  ...   0.160733   0.080961   0.135958  0.001877
4      0.444444    0.2    0.2  ...   0.255085   0.175143   0.213476  0.000000
...         ...    ...    ...  ...        ...        ...        ...       ...
29995  0.222222    0.2    0.2  ...   0.266495   0.195594   0.242478  0.012871
29996  0.222222    0.2    0.2  ...   0.174297   0.091159   0.140451  0.004014
29997  0.222222    0.2    0.2  ...   0.166240   0.086055   0.137706  0.002970
29998  0.111111    0.1    0.1  ...   0.170950   0.087668   0.137158  0.004950
29999  0.222222    0.1    0.1  ...   0.159695   0.131033   0.180856  0.001990

       PAY_AMT2  PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6  defaulted
0      0.001171  0.000419  0.001891  0.000000  0.001892          1
1      0.000381  0.000435  0.000737  0.000000  0.001475          1
2      0.006832  0.008928  0.012430  0.012895  0.010404          0
3      0.000000  0.000000  0.000000  0.000741  0.001479          0
4      0.007171  0.004464  0.006523  0.007737  0.007566          0
...         ...       ...       ...       ...       ...        ...
29995  0.004880  0.005580  0.009454  0.011723  0.009458          0
29996  0.001178  0.000336  0.000401  0.012461  0.009433          0
29997  0.001464  0.001128  0.001891  0.002345  0.001892          1
29998  0.007321  0.012810  0.013386  0.003871  0.082472          1
29999  0.000586  0.000000  0.096962  0.002797  0.009458          1

[30000 rows x 25 columns]

In [8]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier(n_estimators=150)
model.fit(X_train, y_train.values.ravel())
print(model)

RandomForestClassifier(n_estimators=150)

In [9]:
import pickle
model_filename= "RFC_Model_Credit_default.pkl"
with open(model_filename, 'wb') as outfile:
    pickle.dump(model,outfile)
del model

In [10]:
#Apply minmax to test data
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
scale_var=['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION',
       'MARRIAGE', 'AGE','PAY_0', 'PAY_2',
       'PAY_3', 'PAY_4','PAY_5', 'PAY_5', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4','BILL_AMT5', 'BILL_AMT6',
       'PAY_AMT1', 'PAY_AMT2','PAY_AMT3', 'PAY_AMT4','PAY_AMT5',
        'PAY_AMT6']
df[scale_var]=pd.DataFrame(scaler.fit_transform(X_test[scale_var]), columns=[scale_var])

C:\Users\raul\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2940: PerformanceWarning: indexing past lexsort depth may impact performance.
  return runner(coro)

In [11]:
#Using the Random Forest algorithm, predict the model accuracy.

with open("RFC_Model_Credit_default.pkl", 'rb') as infile:
    model = pickle.load(infile)
    
predicted_output=model.predict(X_test)

print(predicted_output)

from sklearn.metrics import accuracy_score

score=accuracy_score(y_test,predicted_output)

print(score)

from sklearn.metrics import confusion_matrix

cm=confusion_matrix(y_test,predicted_output)
print(cm)

[0 0 1 ... 0 1 1]
0.9375133747057565
[[4289  439]
 [ 145 4473]]